In [17]:
import pandas as pd

In [18]:
url = "nhanes_2015_2016.csv"
da =  pd.read_csv(url)

In [19]:
da.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [20]:
da['BMXWT'].mean()

81.34267560889509

In [21]:
g = da['RIAGENDR']

In [22]:
g.unique()

array([1, 2], dtype=int64)

In [24]:
#ONE HOT ENCODING
B = ['Bird', 'Cat', 'Dog', 'Cat', 'Bird', 'Bird']
d = {'categorical': B}
df = pd.DataFrame(d)

In [25]:
df

  categorical
0        Bird
1         Cat
2         Dog
3         Cat
4        Bird
5        Bird

In [26]:
df['categorical']

0    Bird
1     Cat
2     Dog
3     Cat
4    Bird
5    Bird
Name: categorical, dtype: object

In [27]:
dfDummies = pd.get_dummies(df['categorical'], prefix = 'category')

In [28]:
dfDummies

   category_Bird  category_Cat  category_Dog
0              1             0             0
1              0             1             0
2              0             0             1
3              0             1             0
4              1             0             0
5              1             0             0

In [29]:
dfDummies.values

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0],
       [1, 0, 0]], dtype=uint8)